@use 'sass:map';
@use './colors' as colors;
@use './mixins' as mix;

.action-group {
  display: flex;
  justify-content: space-between;
  position: relative;

  .left-actions {
    display: flex;
    gap: 14px;
    color: colors.$font-white;
    align-items: center;

    button {
      border: none;
      outline: none;
      color: colors.$font-white;
      background-color: colors.$main-blue;
      cursor: pointer;
    }
    button:hover {
      background-color: map.get(map.get(colors.$colors, hover), add);
    }
  }

  .right-actions {
    display: flex;
    align-items: center;
    gap: 20px;

    .search-bar {
      display: flex;
      align-items: center;
      gap: 10px;
      width: 294px;
      border: 1px solid map.get(map.get(colors.$colors, border), search);
      background-color: map.get(map.get(colors.$colors, background), searchBar);
      border-radius: 30px;
      padding: 11px 18px;

      input {
        width: 100%;
        border: none;
        outline: none;
        background-color: transparent;
        padding: 8px;
        color: colors.$font-white;
      }
    }

    button {
      border: none;
      outline: none;
      color: colors.$font-white;
      background-color: map.get(map.get(colors.$colors, button), filter);
      cursor: pointer;
    }
    button:hover {
      background-color: map.get(map.get(colors.$colors, hover), filter);
    }

    .filter-button {
      display: flex;
      align-items: center;
      gap: 3px;
      border-radius: 20px;
      padding: 19px 22px;
    }
  }
}

.add-new-button {
  display: flex;
  align-items: center;
  gap: 2px;
  padding: 13px 13px 13px 8px;
  border-radius: 30px;
  background-color: colors.$main-blue;
  box-shadow: 0 2px 10px map.get(colors.$colors, shadow);
}

.status-list-item {
  width: 378px;
  height: 100%;
}

.task-list {
  position: relative;
  width: 378px;
  min-width: 378px;
  height: 100%;
  padding: 19px 12px;
  border-radius: 20px;
  background-color: colors.$task-list-bg;

  .draggable {
    margin-top: 20px;
  }
}

.status-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: colors.$font-white;

  .status-info {
    display: flex;
    align-items: center;
    gap: 6px;

    .task-count {
      padding: 4px 9px;
      border-radius: 10px;
      background-color: map.get(map.get(colors.$colors, background), count);
    }
  }

  .status-btns {
    button {
      padding: 0;
      border: none;
      outline: none;
      color: colors.$font-white;
      background-color: transparent;
      cursor: pointer;
    }
  }
}

.task-card {
  display: flex;
  flex-direction: column;
  cursor: pointer;

  .task-card-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    font-size: 14px;

    .date-wrapper {
      display: flex;
      align-items: center;
      gap: 6px;
    }

    .priority {
      color: map.get(map.get(colors.$colors, font), taskDescription);
    }
  }

  .task-contents {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-top: 30px;

    p {
      color: map.get(map.get(colors.$colors, font), taskDescription);
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      word-break: break-all;
    }
  }
}

.status-list {
  display: flex;
  gap: 22px;
  margin-top: 20px;
  padding-bottom: 100px;
  overflow-x: auto;
  scrollbar-color: map.get(map.get(colors.$colors, scrollbar), thumb) map.get(map.get(colors.$colors, scrollbar), track);

  .add-status-list {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 100px;
    padding: 19px 10px;
    border-radius: 20px;
    background-color: colors.$task-list-bg;
    border: none;
    cursor: pointer;

    .submit-button-group {
      display: flex;
      justify-content: flex-end;
    }

    .text-button {
      padding: 8px 14px;
      border-radius: 10px;
      border: none;
      margin-top: 12px;
    }

    .input-button-group {
      display: flex;
      flex-direction: column;
    }

    .status-input {
      height: 25px;
      padding: 5px 10px;
      outline: none;
      border: none;
      border-radius: 5px;
      box-shadow: none;
      background-color: map.get(map.get(colors.$colors, background), input);
    }

    .add-status {
      padding: 0;
      border: none;
      outline: none;
      color: colors.$font-white;
      background-color: transparent;
      cursor: pointer;
    }
  }
}

.dragging {
  opacity: 0.5;
  box-shadow: 0 4px 8px map.get(colors.$colors, shadow);
}
.over {
  box-shadow: 0 4px 8px map.get(colors.$colors, shadow);
  border: 3px solid map.get(map.get(colors.$colors, border), gray);
  border-radius: 20px;
}
