@use 'sass:map';

$colors: (
  blue: #0851ee,
  brightPurple: #600598,
  white: #ffffff,
  card: (
    high: #5feef8,
    medium: #c4a8ff,
    low: #ffd277,
  ),
  font: (
    default: #ffffff,
    tab: #9b87a4,
  ),
  background: (
    startPurple: #430279,
    endBlack: #001b41,
    searchBar: #011c41,
  ),
  border: (
    gray: #a8a8a8,
  ),
  button: (
    filter: #2d2a4f,
  ),
);

// 중복 사용으로 변수화
$font-white: map.get(map.get($colors, font), default);
$white: map.get($colors, white);

@mixin card($color) {
  background-color: $color;
}

.header {
  width: 100%;
  height: 125px;
  background-color: map.get($colors, blue);
  font-size: 40px;
  display: flex;
  align-items: center;
  padding-left: 45px;
}

.logo {
  color: $white;
}

.tabs {
  display: flex;
  width: 100%;
  height: 105px;
  color: map.get(map.get($colors, font), tab);
  background-color: map.get($colors, brightPurple);

  .tab {
    padding-top: 55px;
  }
  .tab:first-child {
    margin-left: 70px;
    color: $white;
    border-bottom: 2px solid $white;
  }

  button {
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    font-size: 25px;
    color: map.get(map.get($colors, font), tab);
    padding: 0 20px;
    cursor: pointer;
  }
}

.contents {
  height: 100vh;
  padding: 19px 70px;
  background: linear-gradient(
    to bottom right,
    map.get(map.get($colors, background), startPurple),
    map.get(map.get($colors, background), endBlack),
    map.get(map.get($colors, background), endBlack)
  );
}

.action-group {
  display: flex;
  justify-content: space-between;

  .left-action {
    display: flex;
    gap: 14px;
    color: $font-white;
    align-items: center;

    button {
      border: none;
      background-color: transparent;
      outline: none;
      color: $font-white;
      background-color: map.get($colors, blue);
      cursor: pointer;
    }
  }

  .right-actions {
    display: flex;
    gap: 20px;

    .search-bar {
      display: flex;
      align-items: center;
      gap: 10px;
      width: 294px;
      border: 1px solid map.get(map.get($colors, border), gray);
      background-color: map.get(map.get($colors, background), searchBar);
      border-radius: 30px;
      padding: 8px 18px;

      input {
        width: 100%;
        border: none;
        outline: none;
        background-color: transparent;
        padding: 8px;
        color: $font-white;
      }
    }

    button {
      border: none;
      background-color: transparent;
      outline: none;
      color: $font-white;
      background-color: map.get(map.get($colors, button), filter);
      cursor: pointer;
    }

    .filter-button {
      display: flex;
      align-items: center;
      gap: 3px;
      border-radius: 20px;
      padding: 12px;
    }
  }
}

.plus-icon,
.search-icon,
.filter-icon {
  filter: invert(100%);
}

.add-new-button {
  display: flex;
  align-items: center;
  gap: 2px;
  padding: 13px;
  border-radius: 30px;
}
